* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3f2fd;

}


.contenedor{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:"header header header"
                        "main main main"
                        "footer footer footer";
}

header {
    grid-area: header;
    background: black;
    text-align: center;
    width: 100%;
    height: fit-content;
}

.navbar-nav {
    margin: auto;
}

.logo__titulo {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;

}

.enlace__titulo {
    min-width: 200px;
    min-height: 200px;

    width: 200px;
    height: 200px;

    background-image: url(logosypsyNgro.jpg);
    background-size: cover;
}

.titulo__principal {
    color: rgb(14, 14, 224);
}

.span__01 {
    color: rgb(255, 0, 170);
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 100%;
    grid-area: main;
}

.presentacion {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.mapaRadial:hover {
    width: 500px;
    height: 500px;
}

.texto {
    width: 50%;
    font-size: 1.5em;
}

main img {
    width: 300px;
    height: 300px;
}

.exclusivo {
    width: 100%;
    height: fit-content;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.img-exclusivo {
    min-width: 300px;
    min-height: 300px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #d819af;
    border: 2px solid black;
    margin:20px 0 20px 0;

}

.container {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.container img {
    width: 200px;
    height: 200px;
}

.card {
    min-width: 200px;
    min-height: 300px;
    width: fit-content;
    border: 1px solid rgb(255, 0, 179);
    background: grey;
    flex: 1 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    background: black;
    grid-area: footer;
    text-align: center;
    color: blue;
    display: flex;
    justify-content: space-evenly;
}
.fa-whatsapp {
    color: green;
    width: 30px;
    height: 30px;
}

.imagenlogo {
    margin: auto;
}

.imagenlogo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}