footer {
    background: black;
    grid-area: footer;
    text-align: center;
    color: blue;
    
    .enlaces {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
    }

    .fa-whatsapp {
        color: green;
        width: 30px;
        height: 30px;
        font-size: 25px;
    }
}